* {
    background-color: darkmagenta;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
 }

#h1 {
     font-style: italic;
     /* font-weight: bold; */
     line-height: 150%;
     border: 2px solid;
     padding: 30px 10px;
     background-color: lavenderblush;
     color: black;
     margin: 25px;
     font-size: 32px;
 } 

 .cart-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.in-cart {
  background-color: red;
}

.cart-badge {
  background-color: black;
  color: white;
  padding: 5px 10px;
  /* border-radius: 50%; */
}
