* {
    background-color: lightyellow;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
 }

#h1 {
     font-style: italic;
     /* font-weight: bold; */
     line-height: 150%;
     border: 2px solid;
     padding: 30px 10px;
     background-color: black;
     color: burlywood;
     margin: 25px;
     font-size: 32px;
 } 

.cost-input {
  font-size: 15px;
  padding: 10px;
}

.calculate-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  padding: 12px 15px;
  cursor: pointer;
}
